/* ------------------------------------------------------------------------ General */
h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

img {
    width: 100%;
}

.img-in-card {
    height: 200px;
    min-width: 100%;
    object-fit: cover;
}

.title {
    margin: 8px 0;
}

.cinnamon {
    background-color: #bd6423
}

.cinnamon-text {
    color: #bd6423
}

.recipe-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

.recipe-list-item {
    margin-left: 0!important;
}

.pagination li.active {
    background-color: #428e3c;
}

/* ------------------------------------------------------------------------ Navigation & Parralax */
nav .brand-logo {
    padding: 0 0 0 8px;
}

/* Ensure full site name appears on mobile screens */
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 768px) {
    .parallax-container {
      height: 300px;
    }
}

@media only screen and (max-width: 425px) {
    .parallax-container {
      height: 150px;
    }
}

@media only screen and (max-width: 376px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 361px) {
    nav .brand-logo {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 321px) {
    nav .brand-logo {
        font-size: 1.2rem;
    }
}

/* ------------------------------------------------------------------------ Products */
.promo-image,
.promo-text {
    padding: 16px;
}

.member-advantage {
    font-size: medium;
    margin: 4px 0;
}

.capacity,
.diameter {
    margin-bottom: 0;
}

.sizes {
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .qualities {
        font-size: 14px;
        margin: 8px;
    }
}

@media only screen and (min-width: 1024px) {
    .qualities {
        font-size: medium;
        margin: 8px;
    }
}

/* ------------------------------------------------------------------------ Font Awesome Icon Color on Forms */
.btn-large .fas {
    color: white;
}

/* ------------------------------------------------------------------------ Flashes */
.flashes h4{
    padding: 8px;
}

/* ------------------------------------------------------------------------ Registration */
.registration {
    background-color: white;
}

/* Change the autofill background color to white
From https://stackoverflow.com/a/14205976/14773450 */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    /* Change the autofill background color Safari iOS 
    From https://stackoverflow.com/a/58682412/14773450 */
    background-clip: content-box !important;
}

.register-button {
    margin-top: 32px;
}

@media only screen and (max-width: 750px) {
    .input-field>label {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 400px) {
    .input-field>label {
        font-size: 0.7rem;
    }
}

/* ------------------------------------------------------------------------ Profile */
.placeholder-image {
    border: 1px #428e3c solid;
}

.user-recipeas,
.recipeas {
    margin-top: 0;
}

.recipeas {
    font-weight: 800;
}

/* ------------------------------------------------------------------------ Recipes */
.category {
    font-weight: 800;
}

.times,
.category,
.source {
    margin: 0;
}

.recipe-list-item {
    padding-bottom: 16px!important;
}

.recipe-action {
    display: block;
    margin: 4px 0;
}

.edit-button:active,
.edit-button:focus,
.edit-button:focus-within,
.edit-button:hover,
.edit-button:visited,
.edit-button:focus-visible,
.category-button-links:active,
.category-button-links:focus,
.category-button-links:focus-within,
.category-button-links:hover,
.category-button-links:visited,
.category-button-links:focus-visible {
    background-color: #bd6423!important;
}

.category-buttons,
.category-button-links,
.edit-buttons {
    margin-bottom: 8px;
}

/* --------------------------------------------------------------------- Add / Edit Recipe */
.btn-add-recipe {
    width: 100%;
}

.loved {
    top: 0!important;
}

/* ------------------------------------------------------------------------- Recipe */
.right-icon {
    margin-left: 15px;
}

.recipea {
    margin-bottom: 0;
}

.recipea-text {
    margin-top: 0;
}

.recipea-category-text {
    margin: 0;
}

.recipe-textarea {
    border: 0!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

textarea.recipe-textarea:focus:not([readonly]) {
    border-bottom: 0!important;
}

#servings {
    margin-bottom: 0;
}

.times-div {
    padding-left: 0!important;
    padding-right: 0!important;
}

@media only screen and (min-width: 426px) {
    .recipea-times {
        margin: 0;
    }
}

/* ------------------------------------------------------------------------- Footer */
.copyright {
    padding-top: 8px;
}