/* ------------------------------------------------------------------------ General */
h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

img {
    width: 100%;
}

.title {
    margin: 8px 0;
}

.cinnamon {
    background-color: #bd6423
}

.cinnamon-text {
    color: #bd6423
}

/* ------------------------------------------------------------------------ Navigation */
nav .brand-logo {
    padding: 0 0 0 8px;
}

/* Ensure full site name appears on mobile screens */
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 376px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 361px) {
    nav .brand-logo {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 321px) {
    nav .brand-logo {
        font-size: 1.2rem;
    }
}

/* ------------------------------------------------------------------------ Products */
.promo-image,
.promo-text {
    padding: 16px;
}

.member-advantage {
    font-size: medium;
    margin: 4px 0;
}

.capacity,
.diameter {
    margin-bottom: 0;
}

.sizes {
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .qualities {
        font-size: 14px;
        margin: 8px;
    }
}

@media only screen and (min-width: 1024px) {
    .qualities {
        font-size: medium;
        margin: 8px;
    }
}

/* ------------------------------------------------------------------------ Font Awesome Icon Color on Forms */
.btn-large .fas {
    color: white;
}

/* ------------------------------------------------------------------------ Flashes */
.flashes h4{
    padding: 8px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------------------------------------ Registration */
.registration {
    background-color: white;
}

/* Change the autofill background color to white
From https://stackoverflow.com/a/14205976/14773450 */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    /* Change the autofill background color Safari iOS 
    From https://stackoverflow.com/a/58682412/14773450 */
    background-clip: content-box !important;
}

.register-button {
    margin-top: 32px;
}

@media only screen and (max-width: 750px) {
    .input-field>label {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 400px) {
    .input-field>label {
        font-size: 0.7rem;
    }
}

/* ------------------------------------------------------------------------ Profile */
.placeholder-image {
    border: 1px #428e3c solid;
}

.user-recipeas,
.recipeas {
    margin-top: 0;
}

.recipeas {
    font-weight: 800;
}

/* ------------------------------------------------------------------------ Recipes */
.category {
    font-weight: 800;
}

.times {
    margin: 0;
}

/* ------------------------------------------------------------------------ Footer */
.copyright {
    padding-top: 8px;
}