{% extends "base.html" %}
{% block banner %}

    <div class="parallax-container">
        <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
        <div class="parallax"><img src="../static/media/images/banners/pexels-anna-tis-6219209.jpg"></div>
    </div>
    
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <h1 class="title">Add a Recipea</h1>
        </div>

        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}" enctype="multipart/form-data">
            <div class="row">

                <!-- Recipe name -->
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix green-text text-darken-2"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="150" type="text" class="validate" required>
                    <label for="recipe_name">Recipea Name</label>
                </div>

                <div class="col s12 m4">                   
                    <!-- Recipe Level of Difficulty -->
                    <div class="input-field col s12">
                        <i class="fas fa-ellipsis-v prefix green-text text-darken-2"></i>
                        <select id="recipe_level_of_difficulty" name="recipe_level_of_difficulty" class="green-text text-darken-2 validate" required>
                            <option value="" disabled selected><p>Choose Level of Difficulty</p></option>
                            {% for level in level_of_difficulty %}
                                <option value="{{ level.recipe_level_of_difficulty }}">{{ level.recipe_level_of_difficulty }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Recipe Servings -->
                    <div class="input-field col s12">
                        <i class="fas fa-sort-numeric-down prefix green-text text-darken-2"></i>
                        <select id="recipe_servings" name="recipe_servings" class="green-text text-darken-2 validate" required>
                            <option value="" disabled selected><p>How Many Servings?</p></option>
                            {% for serving in servings %}
                                <option value="{{ serving.recipe_servings }}">{{ serving.recipe_servings }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Recipe Preparation Time -->
                    <div class="input-field col s12">
                        <i class="fas fa-user-clock prefix green-text text-darken-2"></i>
                        <input id="recipe_prep_time" name="recipe_prep_time" minlength="5" maxlength="50" type="text" class="validate" required>
                        <label for="recipe_prep_time">Prep Time (eg: 1 hour 30 mins)</label>
                    </div>

                    <!-- Recipe Cooking Time -->
                    <div class="input-field col s12">
                        <i class="fas fa-hourglass-start prefix green-text text-darken-2"></i>
                        <input id="recipe_cooking_time" name="recipe_cooking_time" minlength="5" maxlength="50" type="text" class="validate" required>
                        <label for="recipe_cooking_time">Cooking Time (eg: 1 hour 30 mins)</label>
                    </div>

                    <!-- Total Cooking Time -->
                    <div class="input-field col s12">
                        <i class="fas fa-hourglass-start prefix green-text text-darken-2"></i>
                        <input id="recipe_total_time" name="recipe_total_time" minlength="5" maxlength="50" type="text" class="validate" required>
                        <label for="recipe_total_time">Total Time (eg: 1 hour 30 mins)</label>
                    </div>

                    <!-- Recipe Source -->
                    <div class="input-field col s12">
                        <i class="fas fa-laptop-house prefix green-text text-darken-2"></i>
                        <textarea id="recipe_source" name="recipe_source" 
                        class="materialize-textarea validate" required></textarea>
                        <label for="recipe_source">Recipea Source</label>
                    </div>

                    <!-- Is Favourite -->
                    <div class="input-field col s12">
                        <div class="switch">
                            <label for="is_favourite">
                                Is favourite? 
                                <input type="checkbox" id="is_favourite" name="is_favourite">
                                <span class="lever tooltipped" data-position="bottom" data-tooltip="Slide to right to add to favourites"></span>
                                <i class="fas fa-heart prefix loved red-text"></i>
                            </label>
                        </div>
                    </div>

                    <!-- Image Uploader formatting -->
                    <!-- From https://www.webtrickshome.com/faq/how-to-display-uploaded-image-in-html-using-javascript-->
                    <div class="input-field col s12">
                        <!--<p><input type="file"  accept="image/*" name="recipe_image" id="recipe_image_name"  onchange="loadFile(event)" style="display: none;"></p>
                        <p>
                            <label class="btn btn-block green darken-2 white-text" for="recipe_image_name" style="cursor: pointer;">
                                <i class="fas fa-camera"></i> 
                                Add Recipea Photo
                            </label>
                        </p>
                        <p>Since your image will be the banner image for your recipea, please use a photo in landscape orientation!</p>
                        <p>Please credit the image source (eg: yourself, a website) in the Chef's Notes section.</p>
                        <p><img id="output" width="100%" /></p>-->
                        <p><img src="../static/media/images/banners/pexels-anna-tis-6219209.jpg" id="img-preview" /></p>
                        <p><label class="file-upload-container btn btn-block green darken-2 white-text" for="file-upload">
                            <input id="file-upload" type="file" name="recipe_image_url" style="display:none;"> 
                                Add Recipea Photo <i class="fas fa-camera"></i>
                            </label>
                            <input id="file-upload1" type="hidden" name="recipe_image_url" style="display:none;">
                        </p>
                    </div>
                </div>

                <div class="col s12 m8">
                    <!-- Recipe Category -->
                    <div class="input-field col s12">
                        <i class="fas fa-flag prefix green-text text-darken-2"></i>
                        <textarea id="recipe_category" name="recipe_category"
                        class="materialize-textarea validate" required></textarea>
                        <label for="recipe_category">Recipea category (separate each category with a new line)</label>
                    </div>

                    <!-- Recipe Description -->
                    <div class="input-field col s12">
                        <i class="fas fa-quote-right prefix green-text text-darken-2"></i>
                        <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="200" 
                        class="materialize-textarea validate" required></textarea>
                        <label for="recipe_description">A brief description of your Recipea</label>
                    </div>

                    <!-- Recipe Ingredients -->
                    <div class="input-field col s12">
                        <i class="fas fa-list-ul prefix green-text text-darken-2"></i>
                        <textarea id="recipe_ingredients" name="recipe_ingredients" 
                        class="materialize-textarea validate" required></textarea>
                        <label for="recipe_ingredients">Ingredients (separate each ingredient with a new line)</label>
                    </div>

                    <!-- Recipe Instructions -->
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix green-text text-darken-2"></i>
                        <textarea id="recipe_preparation" name="recipe_preparation" 
                        class="materialize-textarea validate" required></textarea>
                        <label for="recipe_preparation">Preparation (separate each step with a new line)</label>
                    </div>

                    <!-- Chef's Notes -->
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix green-text text-darken-2"></i>
                        <textarea id="recipe_notes" name="recipe_notes" 
                        class="materialize-textarea validate"></textarea>
                        <label for="recipe_notes">Chef's notes & hints (separate each with a new line)</label>
                    </div>
                </div>

                <!-- Submit button -->            
                <div class="col s12 center-align">
                    <button type="submit" class="btn green darken-2 text-shadow">
                        Add Recipea  <i class="fas fa-plus-square"></i>
                    </button>
                </div>
            
                
            </div>
        </form>
    
    </div>

{% endblock %}