{% extends "base.html" %}
{% block banner %}
    <div class="parallax-container">
        <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
        <div class="parallax"><img src="{{ url_for('static', filename='media/images/banners/pexels-anna-tis-6219209.jpg') }}" alt="Banner image"></div>
    </div>   
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <h1 class="title">Contact Recipeas and Greens</h1>
        </div>

        <form class="col s12" method="POST" action="{{ url_for('contact') }}">
            <div class="card-panel cinnamon">

                <!-- Email address of sender -->
                <div class="row registration" id="username-row">
                    <div class="input-field col s12">
                        <i class="fas fa-at prefix green-text text-darken-2"></i>
                        <input id="email" name="email" type="text" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="validate" required>
                        <label for="email">Email Address:</label>
                    </div>
                </div>

                <!-- Message text -->
                <div class="row registration" id="password-row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen prefix green-text text-darken-2"></i>
                        <textarea id="message" name="message" class="materialize-textarea validate" required></textarea>
                        <label for="message">Write your message:</label>
                    </div>
                </div>

                <!-- Send Button -->
                <div class="row" id="submit-button">
                    <button type="submit" name="action" value="Submit" 
                        class="col s12 btn register-button green darken-2">
                        Send <i class="far fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock%}
