{% extends "base.html" %}
{% block banner %}
    <div class="parallax-container">
        <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
        <div class="parallax"><img src="{{ url_for('static', filename='media/images/banners/pexels-anna-tis-6219209.jpg') }}" alt="Banner image"></div>
    </div>   
{% endblock %}

{% block content %} 
    <!-- User -->
    <div class="row">
        <div class="col s12">
            {% if session.user|lower == "administration"|lower %}
                <h1 class="title">{{ user.username }}'s Profile</h1>
            {% else %}
                <h1 class="title">Edit {{ user.first_name }}'s Profile</h1>
            {% endif %}
        </div>

        <!-- User's Profile -->
        <form class="col s12" style="padding:0" method="POST" action="{{ url_for('edit_profile', user=session['user']) }}">
            <div class="col s4">
                <div class="registration" id="photo-row">
                    <div class="input-field">
                        <!-- Add a profile photo -->
                        {% if user.image_url %}
                            <p><img src="{{ user.image_url }}" id="img-preview" alt="Profile image"/></p>
                        {% else %}
                            <p><img src="{{ url_for('static', filename='media/images/profile-photo/profile_avatar_placeholder_large.png') }}" id="img-preview" alt="Profile image placeholder"/></p>
                        {% endif %}
                        <p><label class="file-upload-container btn-small btn-block green darken-2 white-text" for="file-upload">
                            <input id="file-upload" type="file" name="previous_profile_image_url" style="display:none;"> 
                                Edit <i class="fas fa-camera"></i>
                            </label>
                            <input id="file-upload1" type="hidden" name="profile_image_url" value="{{ user.image_url }}" style="display:none;">
                        </p>
                        <p>Just adding or changing your photo? Remember to click "Update"!</p>
                    </div>
                </div>
            </div>

            <div class="col s8">
                <!-- Change First Name -->
                <div class="registration" id="first-name-row">
                    <div class="input-field">
                        <i class="fas fa-user-plus prefix green-text text-darken-2"></i>
                        <input id="first_name" name="first_name" value="{{ user.first_name }}" type="text" minlength="3" class="validate" required>
                        <label for="first_name">Change First Name</label>
                    </div>
                </div>

                <!-- Change Last Name -->
                <div class="registration" id="last-name-row">
                    <div class="input-field">
                        <i class="fas fa-user-plus prefix green-text text-darken-2"></i>
                        <input id="last_name" name="last_name" value="{{ user.last_name }}" type="text" minlength="3" class="validate" required>
                        <label for="last_name">Change Last Name</label>
                    </div>
                </div>

                <!-- Change email -->
                <!-- pattern="" from W3Schools.com https://www.w3schools.com/tags/att_input_pattern.asp-->
                <div class="registration" id="email-row">
                    <div class="input-field">
                        <i class="fas fa-at prefix green-text text-darken-2"></i>
                        <input id="email" name="email" value="{{ user.email }}" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="validate" required>
                        <label for="email">Change Email</label>
                    </div>
                </div>

                <!-- Opt In/Out to email alerts -->
                <div class="registration" id="alert-row">
                    <div class="input-field">
                        <div class="switch">
                            <label for="opt_in">
                                Email alerts:
                                {% if user.opt_in == "on" %}
                                <input type="checkbox" id="opt_in" name="opt_in" checked> ON
                                <span class="lever tooltipped" data-position="bottom" data-tooltip="Slide to left to opt out of email alerts for new Recipeas"></span>
                                <i class="fas fa-check prefix loved green-text text-darken-2"></i>
                                {% else %}
                                <input type="checkbox" id="opt_in" name="opt_in"> OFF
                                <span class="lever tooltipped" data-position="bottom" data-tooltip="Slide to right to opt in to email alerts for new Recipeas"></span>
                                <i class="fas fa-times prefix loved red-text text-darken-2"></i>
                                {% endif %}
                                
                            </label>
                        </div>
                    </div>
                </div>
            

                <!-- Submit Button -->
                <button type="submit" class="btn edit-buttons green darken-2" id="submit-button">
                    Update Profile <i class="fas fa-sign-in-alt"></i>
                </button>
                <!-- Password Reset Button -->
                <a class="btn edit-buttons edit-button cinnamon" href="{{ url_for('reset_password') }}">Reset Password <i class="fas fa-lock"></i></a>
                <!-- Cancel Update Button -->
                <a class="btn edit-buttons red darken-2" href="{{ url_for('profile', username=session['user']) }}">Cancel Editing <i class="fas fa-times-circle"></i></a>
            </div>                    
        </form>
    </div>

    <!-- If user is admin, manage buttons -->
    {% if session.user|lower == "administration"|lower %}
    <div class="row">
        <div class="col s12">
            <h2>Settings:</h2>
            <div class="col s6">
                <a class="btn-small btn-block" href="{{ url_for('get_categories') }}">Manage Categories</a>
            </div>
            <div class="col s6">
                <a class="btn-small btn-block" href="{{ url_for('get_difficulty_levels') }}">Manage Levels of Difficulty</a>
            </div>
        </div>
    </div>
    {% endif %}
         
    <div class="row">
        <div class="col s12">
            <!-- User's recipes, links to edit -->
            <h2>Edit Recipeas:</h2>
            {% if recipes_created_by|length > 0 %}
            <div class="row">
                <ul class="recipe-list">
                    {% for recipe in recipes %}
                        {% if session.user|lower in recipe.created_by %}
                        <li class="col s12 m4 recipe-list-item">
                            <div class="card">
                                {% if session.user|lower in recipe.favourite_of %}
                                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                                        <i class="fas fa-heart tooltipped" data-position="left" data-tooltip="Is Mine & Favourite!">
                                        </i>
                                    </a>
                                {% elif not session.user|lower in recipe.favourite_of %}
                                    <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn-floating halfway-fab waves-effect waves-light green darken-2">
                                        <i class="fas fa-plus tooltipped" data-position="left" data-tooltip="Is Mine But Not Favourite. Add to Favourites!"></i>
                                    </a>
                                {% endif %}
                                <div class="card-image waves-effect waves-block waves-light">
                                    {% if recipe.image_url %}
                                        <img class="activator img-in-card" src="{{ recipe.image_url }}" alt="Recipe photo">
                                    {% else %}
                                        <img class="activator img-in-card" src="{{ url_for('static', filename='media/images/banners/pexels-anna-tis-6219209.jpg') }}" alt="Recipe photo">
                                    {% endif %}
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator cinnamon-text">
                                        <i class="fas fa-ellipsis-v right"></i><strong>{{ recipe.recipe_name }}</strong></span>
                                    <p><a class="green-text text-darken-2" href="{{ url_for('recipe', recipe_id=recipe._id)}}">Go to Recipea</a></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title cinnamon-text">
                                        <i class="far fa-times-circle right"></i>
                                        <strong>{{ recipe.recipe_name }}</strong>
                                    </span>
                                    <p class="source"><em>Source: {{ recipe.recipe_source }}</em></p>
                                    <p class="source"><em>Added by: {{ recipe.created_by }}</em></p>
                
                                    <!-- Open recipe -->
                                    <a href="{{ url_for('recipe', recipe_id=recipe._id)}}"
                                        class="s12 btn-small recipe-action green darken-2">Go to Recipea <i class="fas fa-external-link-alt"></i></a>
                
                                    <!-- Add to / Remove from favourites -->
                                    {% if session.user|lower in recipe.favourite_of %}
                                        <!-- Remove from favourites button -->
                                        <a href="{{ url_for('remove_from_favourites', recipe_id=recipe._id)}}" class="btn-small recipe-action red">Remove from Favourites 
                                            <i class="fas fa-heart-broken"></i>
                                        </a>
                                    {% else %}
                                        <!-- Add to favourites button -->
                                        <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn-small recipe-action green darken-2">Add to Favourites 
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    {% endif %}

                                    <!-- Edit recipe -->
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small recipe-action edit-button cinnamon">Edit <i class="fas fa-edit"></i></a>
                                    <!-- Delete recipe -->
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small recipe-action red">Delete <i class="fas fa-trash-alt"></i></a>
                                
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <div class="row">
                    <ul class="recipe-List">
                        <li class="col s12 recipe-list-item">
                    <h3>No Recipeas yet? Go ahead and create one!</h3>
                    <a href="{{ url_for('get_recipes')}}" class="btn edit-buttons green darken-2">Add a Recipea <i class="fas fa-file-alt right"></i></a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}


