{% extends "base.html" %}
{% block banner %}
    <div class="parallax-container">
        <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
        <div class="parallax"><img src="../static/media/images/banners/pexels-anna-tis-6219209.jpg"></div>
    </div>   
{% endblock %}

{% block content %}
    <!-- Page title -->
    <div class="row">
        <div class="col s12">
            <h1 class="title">{{level.recipe_level_of_difficulty }}</h1>
        </div>
    </div>

    <div class="row">
        <ul class="recipe-list">
            {% for recipe in recipes %}
                {% if recipe.recipe_level_of_difficulty == level.recipe_level_of_difficulty %}
                <li class="col s12 m6 l4 recipe-list-item">
                    <div class="card">
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                            <i class="fas fa-heart tooltipped" data-position="left" data-tooltip="Add to Favourites!">
                            </i>
                        </a>
                        <div class="card-image waves-effect waves-block waves-light">
                            <!--<img class="activator" src="{{ recipe.recipe_image }}">-->
                            <img class="activator" src="{{ url_for('file', filename=recipe['recipe_image']) }}" alt="">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator cinnamon-text">
                                <i class="fas fa-ellipsis-v right"></i><strong>{{ recipe.recipe_name }}</strong></span>
                            <p><a href="{{ url_for('recipe', recipe_id=recipe._id)}}">Go to Recipea</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title cinnamon-text">
                                <i class="far fa-times-circle right"></i>
                                <strong>{{ recipe.recipe_name }}</strong>
                                    </span>
                            <p class="category green-text text-darken-2">Category: <span
                                    class="right">{{ recipe.recipe_category }}</span></p>
                            <p class="category green-text text-darken-2">Level: <span
                                    class="right">{{ recipe.recipe_level_of_difficulty }}</span></p>
                            <!--<p>{{ recipe.recipe_description }}</p>-->
                            <p class="source"><em>Source: {{ recipe.recipe_source }}</em></p>
                            <p class="source"><em>Added by: {{ recipe.created_by }}</em></p>

                            <!-- Open recipe -->
                            <a href="{{ url_for('recipe', recipe_id=recipe._id)}}" class="s12 btn-small recipe-action green darken-2">Go to Recipea</a>                       

                            {% if session.user|lower == recipe.created_by %}
                            <!-- Edit recipe -->
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="col s5 left btn-small btn-block recipe-action edit-button cinnamon">Edit</a>                       

                            <!-- Delete recipe -->
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="col s5 right btn-small recipe-action red">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <!-- List of categories -->
    <div class="row">
        <div class="col s12">
            <h2>Search Other Categories:</h2>
            {% for category in categories %}
                 <a class="btn category-buttons green darken-2" href="{{ url_for('category', category_id=category._id)}}">{{ category.recipe_category}}</a>
            {% endfor %}
        </div>
    </div>

    <!-- List of Difficulty Level -->
    <div class="row">
        <div class="col s12">
            <h2>Search Other Levels of Difficulty:</h2>
            {% for level in levels %}
                <a class="btn category-buttons green darken-2" href="{{ url_for('level', level_id=level._id)}}">{{ level.recipe_level_of_difficulty }}</a>
            {% endfor %}
        </div>
    </div>

    {% if session.user|lower == "administration"|lower %}
        <div class="row">
            <div class="col s12">
                <a class="btn" href="{{ url_for('get_categories') }}">Manage Categories</a>
                <a class="btn" href="{{ url_for('get_difficulty_levels') }}">Manage Levels of Difficulty</a>
            </div>
        </div>
    {% endif %}

{% endblock %}