{% extends "base.html" %}
{% block banner %}

    <div class="parallax-container">
        <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
        <div class="parallax"><img src="../static/media/images/banners/pexels-anna-tis-6219209.jpg"></div>
    </div>
    
{% endblock %}

{% block content %}

    
    <div class="row">
        <div class="col s12">
            {% if session.user|lower == "administration"|lower %}
                <h1 class="title">{{ user.username }}'s Profile</h1>
            {% else %}
                <h1 class="title">{{ user.first_name }}'s Profile</h1>
            {% endif %}
        </div>

        <div class="col s12 m4"> 
            <h2>{{ user.first_name }}'s Profile</h2>
            <p><i class="far fa-id-card small green-text text-darken-2"></i><span class="right">{{ user.first_name }} {{ user.last_name }}</span></p>
            <p><i class="far fa-user small green-text text-darken-2"></i><span class="right">{{ user.username }}</span></p>
            <p><i class="fas fa-at small green-text text-darken-2"></i><span class="right">{{ user.email }}</span></p>

            <!-- Admin's image credit: Icon by <a href="https://freeicons.io/profile/3054">Nine One</a> 
            on <a href="https://freeicons.io">freeicons.io</a> -->
            <p><img src="{{ user.image_url }}" id="img-preview" /></p>
            <!--<form method="POST" action="{{ url_for('profile') }}">
                <p><label class="file-upload-container btn btn-block green darken-2 white-text" for="file-upload">
                    <input id="file-upload" type="file" name="previous_profile_image_url" style="display:none;"> 
                        Change Recipea Photo <i class="fas fa-camera"></i>
                    </label>
                    <input id="file-upload1" type="hidden" name="profile_image_url" style="display:none;">
                </p>
                <button type="submit" class="btn green darken-2 text-shadow">
                        Add Recipea  <i class="fas fa-plus-square"></i>
                </button>
            </form>-->
            <!-- Edit Profile -->
            <p>Want to change your profile details? Even add a photo?</p>
            <a href="{{ url_for('edit_profile', username=session['user']) }}" class="col s12 btn-small btn-block recipe-action edit-button cinnamon">Edit</a>
            <br>
            <br>
            <p>You can also <a class="modal-trigger" href="#delete-account-modal">delete your profile</a> if you no longer want to be part of the Recipeas and Greens community.</p>

        </div>
    
        <div class="col s12 m8">
            {% if session.user|lower == "administration"|lower %}
                <div class="row">
                    <div class="col s6">
                        <a class="btn btn-block" href="{{ url_for('get_categories') }}">Manage Categories</a>
                    </div>
                    <div class="col s6">
                        <a class="btn btn-block" href="{{ url_for('get_difficulty_levels') }}">Manage Levels of Difficulty</a>
                    </div>
                </div>
            {% endif %}
         
            <h2>{{ user.first_name }}'s Own Recipeas</h2>
            <div class="row">
                <ul class="recipe-list">
                    {% for recipe in recipes %}
                        {% if user.username in recipe.created_by %}
                        <li class="col s12 m6 recipe-list-item">
                            <div class="card">
                                {% if session.user|lower in recipe.favourite_of %}
                                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                                        <i class="fas fa-heart tooltipped" data-position="left" data-tooltip="Is Mine & Favourite!">
                                        </i>
                                    </a>
                                {% elif not session.user|lower in recipe.favourite_of %}
                                    <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn-floating halfway-fab waves-effect waves-light green darken-2">
                                        <i class="fas fa-plus tooltipped" data-position="left" data-tooltip="Is Mine But Not Favourite. Add to Favourites!"></i>
                                    </a>
                                {% endif %}
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ recipe.image_url }}" alt="Recipe photo">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator cinnamon-text">
                                        <i class="fas fa-ellipsis-v right"></i><strong>{{ recipe.recipe_name }}</strong></span>
                                    <p><a href="{{ url_for('recipe', recipe_id=recipe._id)}}">Go to Recipea</a></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title cinnamon-text">
                                        <i class="far fa-times-circle right"></i>
                                        <strong>{{ recipe.recipe_name }}</strong>
                                    </span>
                                    <p class="category green-text text-darken-2">Category: <span
                                            class="right">{{ recipe.recipe_category }}</span></p>
                                    <p class="category green-text text-darken-2">Level: <span
                                            class="right">{{ recipe.recipe_level_of_difficulty }}</span></p>
                                    <p class="source"><em>Source: {{ recipe.recipe_source }}</em></p>
                                    <p class="source"><em>Added by: {{ recipe.created_by }}</em></p>
                
                                    <!-- Open recipe -->
                                    <a href="{{ url_for('recipe', recipe_id=recipe._id)}}"
                                        class="s12 btn-small recipe-action green darken-2">Go to Recipea</a>
                
                                    <!-- Add to / Remove from favourites -->
                                    {% if session.user|lower in recipe.favourite_of %}
                                        <!-- Switch "is_favourite" to off in MongoDB -->
                                        <a href="{{ url_for('remove_from_favourites', recipe_id=recipe._id)}}" class="btn-small recipe-action red">Remove from Favourites 
                                            <i class="fas fa-heart-broken"></i>
                                        </a>
                                    {% else %}
                                        <!-- Switch "is_favourite" to off in MongoDB -->
                                        <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn-small recipe-action green darken-2">Add to Favourites 
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    {% endif %}

                                    <!-- Edit recipe -->
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small btn-block recipe-action edit-button cinnamon">Edit <i class="fas fa-edit"></i></a>
                                    <!-- Delete recipe -->

                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small recipe-action red">Delete <i class="fas fa-trash-alt"></i></a>
                                
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!--<h2>{{ user.first_name }}'s Untried Community Recipeas</h2>-->
            <!--<h2>All Community Recipes except mine</h2>
            <div class="row">
                <ul class="recipe-list">
                    {% for recipe in recipes %}
                        {% if user.username != recipe.created_by %}
                                    <li class="col s12 m6 recipe-list-item">
                                        <div class="card">
                                            <a class="btn-floating halfway-fab waves-effect waves-light red">
                                                <i class="fas fa-heart tooltipped" data-position="left" data-tooltip="Add to Favourites!">
                                                </i>
                                            </a>
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="{{ recipe.image_url }}" alt="Recipe photo">
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title activator cinnamon-text">
                                                    <i class="fas fa-ellipsis-v right"></i><strong>{{ recipe.recipe_name }}</strong></span>
                                                <p><a href="{{ url_for('recipe', recipe_id=recipe._id)}}">Go to Recipea</a></p>
                                            </div>
                                            <div class="card-reveal">
                                                <span class="card-title cinnamon-text">
                                                    <i class="far fa-times-circle right"></i>
                                                    <strong>{{ recipe.recipe_name }}</strong>
                                                </span>
                                                <p class="category green-text text-darken-2">Category: <span
                                                        class="right">{{ recipe.recipe_category }}</span></p>
                                                <p class="category green-text text-darken-2">Level: <span
                                                        class="right">{{ recipe.recipe_level_of_difficulty }}</span></p>
                                                <p class="source"><em>Source: {{ recipe.recipe_source }}</em></p>
                                                <p class="source"><em>Added by: {{ recipe.created_by }}</em></p>
                            
                                                <!-- Open recipe --
                                                <a href="{{ url_for('recipe', recipe_id=recipe._id)}}"
                                                    class="s12 btn-small recipe-action green darken-2">Go to Recipea</a>
                                            </div>
                                        </div>
                                    </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>-->

            <!--<h2>{{ user.first_name }}'s Favourite Community Recipeas</h2>-->
            <h2>Community Recipeas I Love</h2>
            <div class="row">
                <ul class="recipe-list">
                    {% for recipe in recipes %}
                        {% if user.username != recipe.created_by %}
                            {% if user.username in recipe.favourite_of %}
                                    <li class="col s12 m6 recipe-list-item">
                                        <div class="card">
                                            <a class="btn-floating halfway-fab waves-effect waves-light red">
                                                <i class="fas fa-heart tooltipped" data-position="left" data-tooltip="Is Favourite!">
                                                </i>
                                            </a>
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="{{ recipe.image_url }}" alt="Recipe photo">
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title activator cinnamon-text">
                                                    <i class="fas fa-ellipsis-v right"></i><strong>{{ recipe.recipe_name }}</strong></span>
                                                <p><a href="{{ url_for('recipe', recipe_id=recipe._id)}}">Go to Recipea</a></p>
                                            </div>
                                            <div class="card-reveal">
                                                <span class="card-title cinnamon-text">
                                                    <i class="far fa-times-circle right"></i>
                                                    <strong>{{ recipe.recipe_name }}</strong>
                                                </span>
                                                <p class="category green-text text-darken-2">Category: <span
                                                        class="right">{{ recipe.recipe_category }}</span></p>
                                                <p class="category green-text text-darken-2">Level: <span
                                                        class="right">{{ recipe.recipe_level_of_difficulty }}</span></p>
                                                <p class="source"><em>Source: {{ recipe.recipe_source }}</em></p>
                                                <p class="source"><em>Added by: {{ recipe.created_by }}</em></p>
                            
                                                <!-- Open recipe -->
                                                <a href="{{ url_for('recipe', recipe_id=recipe._id)}}"
                                                    class="s12 btn-small recipe-action green darken-2">Go to Recipea</a>

                                                <!-- Remove from "favourite_of" array in MongoDB -->
                                                <a href="{{ url_for('remove_from_favourites', recipe_id=recipe._id)}}" class="s12 btn-small recipe-action red">Remove from Favourites 
                                                    <i class="fas fa-heart-broken"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!--<h2>{{ user.first_name }}'s Untried Community Recipeas</h2>-->
            <h2>Community Recipeas Not Yet Tried</h2>
            <div class="row">
                <ul class="recipe-list">
                    {% for recipe in recipes %}
                        {% if user.username != recipe.created_by %}
                        {% if not user.username in recipe.favourite_of %}
                                    <li class="col s12 m6 recipe-list-item">
                                        <div class="card">
                                            <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}"
                                                class="btn-floating halfway-fab waves-effect waves-light green darken-2">
                                                <i class="fas fa-plus tooltipped" data-position="left" data-tooltip="Add to Favourites!"></i>
                                            </a>
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="{{ recipe.image_url }}" alt="Recipe photo">
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title activator cinnamon-text">
                                                    <i class="fas fa-ellipsis-v right"></i><strong>{{ recipe.recipe_name }}</strong></span>
                                                <p><a href="{{ url_for('recipe', recipe_id=recipe._id)}}">Go to Recipea</a></p>
                                            </div>
                                            <div class="card-reveal">
                                                <span class="card-title cinnamon-text">
                                                    <i class="far fa-times-circle right"></i>
                                                    <strong>{{ recipe.recipe_name }}</strong>
                                                </span>
                                                <p class="category green-text text-darken-2">Category: <span
                                                        class="right">{{ recipe.recipe_category }}</span></p>
                                                <p class="category green-text text-darken-2">Level: <span
                                                        class="right">{{ recipe.recipe_level_of_difficulty }}</span></p>
                                                <p class="source"><em>Source: {{ recipe.recipe_source }}</em></p>
                                                <p class="source"><em>Added by: {{ recipe.created_by }}</em></p>
                            
                                                <!-- Open recipe -->
                                                <a href="{{ url_for('recipe', recipe_id=recipe._id)}}"
                                                    class="s12 btn-small recipe-action green darken-2">Go to Recipea</a>
                                                
                                                <!-- Add to "favourite_of" array in MongoDB -->
                                                <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="s12 btn-small recipe-action green darken-2">Add to Favourites 
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col s12">
            <div id="delete-account-modal" class="modal">
                        <div class="modal-content">
                            <h4>Are you sure you want to delete your account and no longer be part of the Recipeas and Greens community?</h4>
                            <p>Delete your account but retain your preferences and keep your recipeas online</p>
                            <p>This action is best if you think you might change your mind and return. !</p>
                        <!--</div>
                        <div class="modal-footer">-->
                            <a href="#!" class="btn edit-buttons modal-close green darken-2">Do Not Delete <i class="fas fa-times-circle right"></i></a>
                            <a href="{{ url_for('delete_account', user_id=user._id) }}" class="btn edit-buttons red">
                                Yes, Delete My Account <i class="fas fa-trash-alt right"></i></a>
                        </div>
                    </div>
        </div>
    </div>

{% endblock%}


