{% extends "base.html" %}
{% block banner %}

    <div class="parallax-container">
        <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
        <div class="parallax"><img src="../static/media/images/banners/pexels-anna-tis-6219209.jpg"></div>
    </div>
    
{% endblock %}

{% block content %}

    
    <div class="row">
        <div class="col s12">
            {% if session.user|lower == "administration"|lower %}
                <h1 class="title">{{ username }}'s Profile</h1>
            {% else %}
                <h1 class="title">{{ first_name }}'s Profile</h1>
            {% endif %}
        </div>

        <div class="col s12 m4">
            
            <h2><i class="far fa-id-card small green-text text-darken-2"></i><span class="right">{{ first_name }} {{ last_name }}</span></h2>
            <h2><i class="far fa-user small green-text text-darken-2"></i><span class="right">{{ username }}</span></h2>
            <h2><i class="fas fa-at small green-text text-darken-2"></i><span class="right">{{ email }}</span></h2>

            <p>Want to change your profile details? Even add a photo?</p>
            <!-- Edit recipe -->
            <a href="{{ url_for('edit_user', user_id=username._id) }}" class="col s12 btn-small btn-block recipe-action edit-button cinnamon">Edit</a>

        </div>
    
        <div class="col s12 m8">
            {% if session.user|lower == "administration"|lower %}
                <div class="row">
                    <div class="col s6">
                        <a class="btn btn-block" href="{{ url_for('get_categories') }}">Manage Categories</a>
                    </div>
                    <div class="col s6">
                        <a class="btn btn-block" href="{{ url_for('get_difficulty_levels') }}">Manage Levels of Difficulty</a>
                    </div>
                </div>
            {% endif %}
            <div class="card-panel user-recipeas cinnamon">
                <div class="card-panel white">
                    <h3 class="recipeas center-align green-text text-darken-2">
                        {{ first_name }}'s Recipeas
                    </h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 m6">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header white-text green darken-2 text-shadow"><i class="fas fa-caret-down"></i>First</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header white-text green darken-2 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header white-text green darken-2 text-shadow"><i class="fas fa-caret-down"></i>Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>

                <div class="col s12 m6">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header white-text green darken-2 text-shadow"><i class="fas fa-caret-down"></i>First</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header white-text green darken-2 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header white-text green darken-2 text-shadow"><i class="fas fa-caret-down"></i>Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        

            <div class="card-panel cinnamon">
                <div class="card-panel white">
                    <h3 class="recipeas center-align green-text text-darken-2">
                        {{ first_name }}'s Recipeas
                    </h3>
                </div>
            </div>

            <div class="card-panel cinnamon">
                <div class="card-panel white">
                    <h3 class="recipeas center-align green-text text-darken-2">
                        {{ first_name }}'s Recipeas
                    </h3>
                </div>
            </div>
        </div>
    </div>

{% endblock%}
