{% extends "base.html" %}
{% block banner %}
    <div class="parallax-container">
        <div class="parallax">
            {% if recipe.image_url %}
                <img src="{{ recipe.image_url }}" alt="Recipe banner">
            {% else %}
                <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
                <img src="{{ url_for('static', filename='media/images/banners/pexels-anna-tis-6219209.jpg') }}" alt="Banner image">
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <!-- Recipe title -->
        <div class="col s12">
            {% if session.user|lower in recipe.created_by %}
                <h1 class="title">{{ recipe.recipe_name }}
                    {% if session.user|lower in recipe.favourite_of %}
                    <button class="btn-floating">
                        <i class="fas fa-heart white-text red tooltipped right" data-position="right" data-tooltip="Is a favourite"></i>
                    </button>
                    {% else %}
                    <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn-floating green darken-2">
                        <i class="fas fa-plus tooltipped" data-position="right" data-tooltip="Add to Favourites!"></i>
                    </a>
                    {% endif %}
                </h1>
            {% elif not session.user|lower in recipe.created_by %}
                <h1 class="title">{{ recipe.recipe_name }}
                    {% if session.user|lower in recipe.favourite_of %}
                    <button class="btn-floating">
                        <i class="fas fa-heart white-text red tooltipped right" data-position="right" data-tooltip="Is a favourite"></i>
                    </button>
                    {% else %}
                    <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn-floating green darken-2">
                        <i class="fas fa-plus tooltipped" data-position="right" data-tooltip="Add to Favourites!"></i>
                    </a>
                    {% endif %}
                </h1>
            {% else %}
                <h1 class="title">{{ recipe.recipe_name }} 
                    <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn-floating green darken-2">
                        <i class="fas fa-plus tooltipped" data-position="right" data-tooltip="Add to Favourites!"></i>
                    </a>
                </h1>
            {% endif %}
        </div>
        

        <!-- Recipe description-->
        <div class="col s12">           
            <h2 class="cinnamon-text"><i class="fas fa-quote-left green-text text-darken-2 left"></i>
            {{ recipe.recipe_description }}    <i class="fas fa-quote-right green-text text-darken-2 right-icon"></i></h2>           
        </div>

        <div class="col s12 m4">
            <!-- Recipe photo -->
            {% if recipe.image_url %}
                <img src="{{ recipe.image_url }}" alt="Recipe photo" style="width:100%">
            {% else %}
                <img src="{{ url_for('static', filename='media/images/banners/pexels-anna-tis-6219209.jpg') }}" alt="Recipe photo" style="width:100%">
            {% endif %}

            <!-- Recipe categories -->
            <h3 class="recipea green-text text-darken-2">Category:</h3>
            {% for cat in recipe.recipe_category %}
                <p class="recipea-category-text">{{ cat }}</p>
            {% endfor %}

            <!-- Recipe difficulty -->
            <h3 class="recipea green-text text-darken-2">Level of Difficulty:</h3>
            <p class="recipea-text">{{ recipe.recipe_level_of_difficulty }}</p>

            <!-- Recipe source -->
            <h3 class="recipea green-text text-darken-2">Source:</h3>
            <textarea readonly id="recipe_source" name="recipe_source" class="materialize-textarea recipe-textarea">{{ recipe.recipe_source }}</textarea>

            <!-- Recipe added by -->
            <h3 class="recipea green-text text-darken-2">Added by:</h3>
            <p class="recipea-text">{{ recipe.created_by }}</p>

            <!-- Recipe servings -->
            <h3 class="recipea green-text text-darken-2">Servings:</h3>
            <p class="recipea-text" id="servings">{{ recipe.recipe_servings }}</p>

        </div>

        <div class="row">
            <div class="col s12 m8">
                <!-- Recipe times -->
                <div class="col s4 times-div">
                    <h3 class="recipea recipea-times green-text text-darken-2">Prep:</h3>
                    <p class="recipea-text">{{ recipe.recipe_prep_time }}</p>
                </div>
                <div class="col s4 times-div">
                    <h3 class="recipea recipea-times green-text text-darken-2">Cook:</h3>
                    <p class="recipea-text">{{ recipe.recipe_cooking_time }}</p>
                </div>
                <div class="col s4 times-div">
                    <h3 class="recipea recipea-times green-text text-darken-2">Total:</h3>
                    <p class="recipea-text">{{ recipe.recipe_total_time }}</p>
                </div>
            </div>

            <div class="col s12 m8">
                <!-- Recipe ingredients -->
                <h3 class="recipea green-text text-darken-2">Ingredients:</h3>
                <textarea readonly id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea recipe-textarea">{{ recipe.recipe_ingredients }}</textarea>

                <!-- Recipe preparation -->
                <h3 class="recipea green-text text-darken-2">Preparation:</h3>
                <textarea readonly id="recipe_preparation" name="recipe_preparation" class="materialize-textarea recipe-textarea">{{ recipe.recipe_preparation }}</textarea>

                <!-- Recipe notes -->
                <h3 class="recipea green-text text-darken-2">Chef's notes:</h3>
                <textarea readonly id="recipe_notes" name="recipe_notes" class="materialize-textarea recipe-textarea">{{ recipe.recipe_notes }}</textarea>
            </div>
        </div>
    
    </div>

    <!-- Add to / Remove from favourites -->
    <div class="row">
        <div class="col s12">
            <h2>Enjoyed this Recipea? Add it to your favourites!</h2>
            {% if session.user|lower in recipe.created_by %}
                {% if session.user|lower in recipe.favourite_of %}
                <!-- Remove from favourites button -->
                <a href="{{ url_for('remove_from_favourites', recipe_id=recipe._id)}}" class="btn edit-buttons red">Remove from
                    Favourites
                    <i class="fas fa-heart-broken"></i>
                </a>
                {% elif not session.user|lower in recipe.favourite_of %}
                <!-- Add to favourites button -->
                <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn edit-buttons green darken-2">Add to
                    Favourites
                    <i class="fas fa-plus"></i>
                </a>
                {% endif %}
            {% elif not session.user|lower in recipe.created_by%}
                {% if session.user|lower in recipe.favourite_of %}
                <!-- Remove from favourites button -->
                <a href="{{ url_for('remove_from_favourites', recipe_id=recipe._id)}}" class="btn edit-buttons red">Remove from
                    Favourites
                    <i class="fas fa-heart-broken"></i>
                </a>
                {% elif not session.user|lower in recipe.favourite_of %}
                <!-- Add to favourites button -->
                <a href="{{ url_for('add_to_favourites', recipe_id=recipe._id)}}" class="btn edit-buttons green darken-2">Add to
                    Favourites
                    <i class="fas fa-plus"></i>
                </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <!-- Search by category / level -->
    <div class="row">
        <div class="col s12">
            <h2>Something Else?</h2>
            <button class="btn category-buttons green darken-2" id="display-cats">Search by Category</button>
            <button class="btn category-buttons green darken-2" id="display-levs">Search by Level of Difficulty</button>
        </div>
        <div class="col s12" id="cats" style="display:none">
            {% for category in categories %}
                <a class="btn category-button-links cinnamon" href="{{ url_for('category', category_id=category._id)}}">{{ category.recipe_category}}</a>
            {% endfor %}
        </div>
        <div class="col s12" id="levs" style="display:none">
            {% for level in levels %}
                <a class="btn category-button-links cinnamon" href="{{ url_for('level', level_id=level._id)}}">{{ level.recipe_level_of_difficulty }}</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}