{% extends "base.html" %}
{% block banner %}

    <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('file', filename=recipe['recipe_image']) }}" alt="Recipe banner"></div>
    </div>

{% endblock%}

{% block content %}

    <div class="row">
        <!-- Recipe title -->
        <div class="col s12">
            <h1 class="title">{% if recipe.is_favourite == "on" %}
                <i class="fas fa-heart red-text tooltipped left"
                    data-position="right" data-tooltip="Is a favourite"></i>
            {% endif %}{{ recipe.recipe_name }}</h1>
        </div>

        <!-- Recipe description-->
        <div class="col s12">           
            <h2 class="cinnamon-text"><i class="fas fa-quote-left green-text text-darken-2 left"></i>
            {{ recipe.recipe_description }}    <i class="fas fa-quote-right green-text text-darken-2 right-icon"></i></h2>           
        </div>

        <div class="col s12 m4">
            <!-- Recipe photo -->
            <img src="{{ url_for('file', filename=recipe['recipe_image']) }}" alt="">

            <!-- Recipe categories -->
            <h3 class="recipea green-text text-darken-2">Category:</h3>
            <textarea readonly id="recipe_category" name="recipe_category" class="materialize-textarea recipe-textarea">{{ recipe.recipe_category }}
            </textarea>

            <!-- Recipe difficulty -->
            <h3 class="recipea green-text text-darken-2">Level of Difficulty:</h3>
            <p class="recipea-text">{{ recipe.recipe_level_of_difficulty }}</p>

            <!-- Recipe source -->
            <h3 class="recipea green-text text-darken-2">Source:</h3>
            <textarea readonly id="recipe_source" name="recipe_source" class="materialize-textarea recipe-textarea">{{ recipe.recipe_source }}</textarea>

            <!-- Recipe added by -->
            <h3 class="recipea green-text text-darken-2">Added by:</h3>
            <p class="recipea-text">{{ recipe.created_by }}</p>

            <!-- Recipe servings -->
            <h3 class="recipea green-text text-darken-2">Servings:</h3>
            <p class="recipea-text" id="servings">{{ recipe.recipe_servings }}</p>

        </div>

        <div class="row">
            <div class="col s12 m8">
                <!-- Recipe times -->
                <div class="col s4 times-div">
                    <h3 class="recipea recipea-times green-text text-darken-2">Prep:</h3>
                    <p class="recipea-text">{{ recipe.recipe_prep_time }}</p>
                </div>
                <div class="col s4 times-div">
                    <h3 class="recipea recipea-times green-text text-darken-2">Cook:</h3>
                    <p class="recipea-text">{{ recipe.recipe_cooking_time }}</p>
                </div>
                <div class="col s4 times-div">
                    <h3 class="recipea recipea-times green-text text-darken-2">Total:</h3>
                    <p class="recipea-text">{{ recipe.recipe_total_time }}</p>
                </div>
            </div>

            <div class="col s12 m8">
                <!-- Recipe ingredients -->
                <h3 class="recipea green-text text-darken-2">Ingredients:</h3>
                <textarea readonly id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea recipe-textarea">{{ recipe.recipe_ingredients }}</textarea>

                <!-- Recipe preparation -->
                <h3 class="recipea green-text text-darken-2">Preparation:</h3>
                <textarea readonly id="recipe_preparation" name="recipe_preparation" class="materialize-textarea recipe-textarea">{{ recipe.recipe_preparation }}</textarea>

                <!-- Recipe notes -->
                <h3 class="recipea green-text text-darken-2">Chef's notes:</h3>
                <textarea readonly id="recipe_notes" name="recipe_notes" class="materialize-textarea recipe-textarea">{{ recipe.recipe_notes }}</textarea>
            </div>
        </div>
    
    </div>

{% endblock %}