{% extends "base.html" %}
{% block banner %}

    <div class="parallax-container">
        <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
        <div class="parallax"><img src="../static/media/images/banners/pexels-anna-tis-6219209.jpg"></div>
    </div>
    
{% endblock %}

{% block content %}

    <div class="row">
        <ul>
            {% for recipe in recipes %}
            <li class="col s12 m6 l4 xl3recipe-list-item">
                <div class="card">
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="fas fa-heart tooltipped" data-position="left" data-tooltip="Add to Favourites!">
                        </i>
                    </a>
                    <div class="card-image waves-effect waves-block waves-light">
                        <!--<img class="activator" src="{{ recipe.recipe_image }}">-->
                        <img class="activator" src="{{ url_for('file', filename=recipe['recipe_image']) }}" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator cinnamon-text">
                            <i class="fas fa-ellipsis-v right"></i><strong>{{ recipe.recipe_name }}</strong></span>
                        <p><a href="#">Go to Recipea</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title cinnamon-text">
                            <i class="far fa-times-circle right"></i>
                            <strong>{{ recipe.recipe_name }}</strong>
                                </span>
                        <p class="category green-text text-darken-2">Category: <span
                                class="right">{{ recipe.recipe_category }}</span></p>
                        <p class="category green-text text-darken-2">Level: <span
                                class="right">{{ recipe.recipe_level_of_difficulty }}</span></p>
                        <p>{{ recipe.recipe_description }}</p>
                        <p class="source"><em>Source: {{ recipe.recipe_source }}</em></p>
                        <p class="source"><em>Added by: {{ recipe.created_by }}</em></p>

                        <!-- Open recipe -->
                        <a href="{{ url_for('recipe', recipe_id=recipe._id)}}" class="s12 btn-small recipe-action green darken-2">Go to Recipea</a>
                        

                        <!-- Edit recipe -->
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="col s5 left btn-small btn-block recipe-action edit-button cinnamon">Edit</a>
                        

                        <!-- Delete recipe -->
                        <a href="" class="col s5 right btn-small recipe-action red">Delete</a>
                        
                        <!--<p><a href="#">Go to Recipea</a></p>-->
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}