{% extends "base.html" %}
{% block banner %}
    <div class="parallax-container">
        <!-- Banner Photo by Anna Tis from Pexels https://www.pexels.com/photo/food-green-peas-foodphotography-6219209/ -->
        <div class="parallax"><img src="{{ url_for('static', filename='media/images/banners/pexels-anna-tis-6219209.jpg') }}" alt="Banner image"></div>
    </div>   
{% endblock %}

{% block content %}
<div class="col s12">
    <h1>Reset Password</h1>
    <p>Please enter the following:</p>
    <form class="col s12 m8" method="POST" action="{{ url_for('reset_password') }}">
        <div class="card-panel cinnamon">

            <!-- Confirm Login User Name -->
            <div class="row registration" id="username-row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix green-text text-darken-2"></i>
                    <input id="username" name="username" type="text" minlength="6" maxlength="24" pattern="^[a-zA-Z0-9]{6,24}$" class="validate" required >
                    <label for="username">Confirm User Name</label>
                </div>
            </div>

            <!-- Enter Old Password -->
            <!-- pattern="" from W3Schools.com https://www.w3schools.com/tags/att_input_pattern.asp-->
            <div class="row registration" id="password-row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix green-text text-darken-2"></i>
                    <input id="password" name="password" type="password" minlength="8" maxlength="24" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,24}$" class="validate" required>
                    <label for="password">Enter Current Password</label>
                </div>
            </div>

            <!-- Enter New Password -->
            <!-- pattern="" from W3Schools.com https://www.w3schools.com/tags/att_input_pattern.asp-->
            <div class="row registration" id="new-password-row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix green-text text-darken-2"></i>
                    <input id="new_password" name="new_password" type="password" minlength="8" maxlength="24" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,24}$" class="validate" required>
                    <label for="new_password">Enter New Password</label>
                </div>
            </div>

            <!-- Confirm New Password -->
            <!-- pattern="" from W3Schools.com https://www.w3schools.com/tags/att_input_pattern.asp-->
            <div class="row registration" id="confirm-new-password-row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix green-text text-darken-2"></i>
                    <input id="confirm_new_password" name="confirm_new_password" type="password" minlength="8" maxlength="24" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,24}$" class="validate" required>
                    <label for="confirm_new_password">Confirm New Password</label>
                </div>
            </div>

            <!-- Confirm Change Submit Button -->
            <div class="row" id="submit-button">
                <button type="submit" class="col s12 btn-large register-button green darken-2">
                    Change Password <i class="fas fa-check-double"></i>
                </button>
            </div>
        </div>
    </form>
        
</div>

{% endblock %}